.me {
	/*background-color:olive;
	*/
}

body{
	background-image: url("img/fondo.jpeg") ;
	/*background-attachment: fixed;*/
	background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        
}

#c{
	background-color: olive;
	font-family: 'PT Sans';
	margin-left: 50px;
	margin-right: 50px;
	text-align: center
	border-radius: 6px;
}

#expertise{
	background-color: blue;
	text-align: center;
	margin-left: 27.5%;
	border: solid black 2px;
	border-radius: 6px;
}
#education{
	background-color: red;
	text-align: center;
	border: solid black 2px;
	margin-left: 27.5%;
	border-radius: 6px;
	
	
}
#habil{
	font-family: 'Open Sans';
    font-style: normal;
    font-weight: 40px;
}